<header th:fragment="NavMenu"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        class="sticky top-0 z-50 bg-neutral-950 border-b border-slate-800">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16 md:h-20">

        <!-- Logo -->
        <div >
            <a href="/" class="text-2xl font-semibold text-white">Business Academy</a>
        </div>

        <!-- Navegación -->
        <nav class="hidden md:flex md:items-center gap-8 text-white">
            <ul class="flex space-x-12">
                <li>
                    <a href="/" class="relative group md:text-md lg:text-lg font-medium hover:text-emerald-500 transition-colors duration-300 ">
                        Inicio
                        <span class='absolute left-0 bottom-0 h-[2px] w-0 bg-emerald-500 transition-all duration-300 group-hover:w-full' />
                    </a>
                </li>
                <li>
                    <a href="/nosotros" class="relative group md:text-md lg:text-lg font-medium hover:text-emerald-500 transition-colors duration-300  ">
                        Nosotros
                        <span class='absolute left-0 bottom-0 h-[2px] w-0 bg-emerald-500 transition-all duration-300 group-hover:w-full' />
                    </a>
                </li>
                <li>
                    <a href="programas" class="relative group md:text-md lg:text-lg font-medium hover:text-emerald-500 transition-colors duration-300  ">
                        Programas
                        <span class='absolute left-0 bottom-0 h-[2px] w-0 bg-emerald-500 transition-all duration-300 group-hover:w-full' />
                    </a>
                </li>
                <li>
                    <a href="/soporte" class="relative group md:text-md lg:text-lg font-medium hover:text-emerald-500 transition-colors duration-300  ">
                        Soporte
                        <span class='absolute left-0 bottom-0 h-[2px] w-0 bg-emerald-500  transition-all duration-300 group-hover:w-full' />
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Login / Registro -->

        <!-- No autenticado -->
        <div sec:authorize="!isAuthenticated()">
            <button onclick="openModal()"
                    class="bg-green-700 hover:bg-green-800 transition-colors duration-300 text-white px-4 py-2 rounded-md text-sm font-medium">
                Acceder
            </button>
        </div>

        <!-- Autenticado -->
        <div sec:authorize="isAuthenticated()" class="relative">
            <!-- Boton usuario -->
            <button id="userDropdownBtn" onclick="toggleUserDropdown()" class="flex items-center gap-2 bg-emerald-500/10 border border-emerald-500 rounded-lg px-4 py-2 text-white hover:bg-emerald-500/20 transition duration-300">
                <span class="text-sm font-medium" sec:authentication="name"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down w-4 h-4"><path d="m6 9 6 6 6-6"/></svg>
            </button>

            <!-- Dropdown -->
            <div id="userDropdown"  class="absolute top-full right-0 mt-2 w-48 bg-neutral-900 border border-slate-700 rounded-lg shadow-lg z-50 hidden">
                <a href="/mi-cuenta" class="block px-4 py-3 text-white hover:bg-neutral-800 transition border-b border-slate-700">
                    Mi cuenta
                </a>
                <a href="/mis-cursos"
                   class="block px-4 py-3 text-white hover:bg-neutral-800 transition border-b border-slate-700">
                    Mis cursos
                </a>
                <form th:action="@{/logout}" method="post">
                    <button class="w-full px-4 py-3 text-left text-red-400 hover:bg-neutral-800 transition">
                        Cerrar sesión
                    </button>
                </form>
            </div>
        </div>

    </div>
</header>
