<header th:fragment="NavMenu" class="sticky top-0 z-50 bg-neutral-950 border-b border-slate-800">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16 md:h-20">

        <!-- Logo -->
        <div >
            <a href="/" class="text-2xl font-semibold text-white">Business Academy</a>
        </div>

        <!-- Navegación -->
        <nav class="hidden md:flex md:items-center gap-8 text-white">
            <ul class="flex space-x-12">
                <li>
                    <a href="/" class="relative group md:text-md lg:text-lg font-medium hover:text-emerald-500 transition-colors duration-300 ">
                        Inicio
                        <span class='absolute left-0 bottom-0 h-[2px] w-0 bg-emerald-500 transition-all duration-300 group-hover:w-full' />
                    </a>
                </li>
                <li>
                    <a href="/nosotros" class="relative group md:text-md lg:text-lg font-medium hover:text-emerald-500 transition-colors duration-300  ">
                        Nosotros
                        <span class='absolute left-0 bottom-0 h-[2px] w-0 bg-emerald-500 transition-all duration-300 group-hover:w-full' />
                    </a>
                </li>
                <li>
                    <a href="#" class="relative group md:text-md lg:text-lg font-medium hover:text-emerald-500 transition-colors duration-300  ">
                        Programas
                        <span class='absolute left-0 bottom-0 h-[2px] w-0 bg-emerald-500 transition-all duration-300 group-hover:w-full' />
                    </a>
                </li>
                <li>
                    <a href="/soporte" class="relative group md:text-md lg:text-lg font-medium hover:text-emerald-500 transition-colors duration-300  ">
                        Soporte
                        <span class='absolute left-0 bottom-0 h-[2px] w-0 bg-emerald-500  transition-all duration-300 group-hover:w-full' />
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Login / Registro -->
        <div>
            <button onclick="openModal()"  class="bg-green-700 text-lg hover:bg-green-800 transition-colors duration-300 text-white px-4 py-2 rounded-md text-sm font-medium">
                Ingresar
            </button>
        </div>

    </div>
</header>
